body, html, #root, .app, .container {
    width: 100%;
    height: 100%;
}


.container {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
}

.loginForm {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.RegistrationForm {
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
}


.inputField {
    padding-top: 16px;
}

.input {
    box-sizing: border-box;
    outline: none;
    border: solid 2px #1189de;
    border-radius: 4px;
    color: #292929;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
}

.submitButton {
    padding-top: 20x;
}


.btn {
    width: 100%;
    min-width: 280px;
    color: #565656;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px #1189de;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}
.btnlogin {
    width: 100%;
    min-width: 280px;
    color: #565656;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px #1189de;
    border-radius: 4px;
    background: #4CAF50;
    cursor: pointer;
}

.btnRgn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.label {
    color: white;
    padding-right: 8px;
    font-size: 18px;
    text-align:left;
    width:100%;
}
.labelhd {
    color: #4CAF50;
    padding-right: 8px;
    font-size: 24px;
    text-align: left;
    width: 100%;
}
.msg {
    color: #FF0000;
    padding-right: 8px;
    font-size: 15px;
    text-align: left;
    width: 100%;
}
.aStyle {
    color: #4CAF50;
    padding-right: 8px;
    font-size: 18px;
    text-align: left;
    width: 100%;
}
.table {
    width: 100%;
}
